{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <body class="bg-light">
<div class="container bg">
<div class="example-wrapper">

<div class="banner">
    <h1>Bienvenue sur Touitteur</h1>
</div>


    {% if app.user %}
        <div class="mb-3 fixed-top text-right">
            Vous êtes connecté en tant que <span class="text-warning text-capitalize font-weight-bold ">{{ app.user.prenom }}</span>
            <br>
            <a href="{{ path('app_logout') }}">se déconnecter ?</a>
            <br>
            <a href="{{ path('edit', {id:app.user.id}) }}">Modifier son profil ?</a>
        </div>
    {% endif %}

        {% for mess in messages %}
    <div class="card border-info mb-3 index text-dark">
        <div class="card-header">
            <h5 class="h3 mb-3 font-weight-normal">
                De <a href= "{{path('profil', {id:mess.user.id})}}" > {{ mess.user.prenom }} </a> <br>
            </h5>
        </div>

        <div class="card-body">
            {{ mess.contenu }}
            <br>
            <span><h5 class="text-warning font-weight-bold">#</h5></span>
                {% for ha in mess.hashtags  %}
                    <a href= "{{path('hashtags', {id:ha.id})}}" > {{ ha.word }} </a>
                {% endfor %}
        </div>
        <div class="card-footer bg-transparent border-info">
            <div class="date text-primary"> {{ mess.date|date("Y-m-d H:i:s") }} </div>
        </div>

    </div>
        {% endfor %}


    {{ form_start(formIndex) }}
<div class="row fix fixed-bottom text-center">

    <div class="col-md-5">
    {{form_widget (formIndex.contenu)}}
    </div>
    <div class="col-md-5">
        {{form_widget (formIndex.hashtags)}}
    </div>
    <div class="col-md-2">
    <button type="submit" class="btn btn-info">Twitter ! </button>
    </div>
</div>
    {{ form_end(formIndex) }}


</div>
</div>
    </body>
{% endblock %}
