{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="bg img-fluid">



<div class="container ">

    <div class="card border-info mb-3 text-center" style="max-width: 30rem;">
        <div class="card-header">
            <h1 class="h3 mb-3 font-weight-normal">Créer un compte</h1>
        </div>
        <div class="card-body text-info">

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.nom) }}
            {{ form_row(registrationForm.prenom) }}
            {{ form_row(registrationForm.avatarFile) }}
                <button type="submit" class="btn btn-warning">Enregistrer</button>
            {{ form_end(registrationForm) }}


        </div>
    </div>




    </div>

</div>
{% endblock %}
