{% extends 'base.html.twig' %}

{% block title %}Hello HashtagsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="container">
        <div class="example-wrapper">

            <h1>#{{ hashtag.word}}</h1>


            <ul>
                {% for m in messageHash %}
                    <li>De <a href= "{{path('profil', {id:m.user.id})}}" > {{ m.user.prenom }} </a> <br>
                        Tweet :{{ m.contenu }} <br>
                        {% for ha in m.hashtags  %}
                            #  {{ ha.word }}
                        {% endfor %}

                        <div class="date tet-primary">{{ m.date|date("Y-m-d H:i:s") }} </div>
                        <div class="progress" style="height: 1px;">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </li>

                    <a href="/index">retour</a>
                {% endfor %}



        </div>
    </div>
{% endblock %}
