@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

*{
  //font-family: 'Permanent Marker', cursive;
}

body {
  /*min-height: 100vh;
  min-width: 100vw;*/
}
#logo{
  position: fixed;
}

li {
  list-style: none;
}

.date{
  font-size: 12px;
}

#logo{
  float: left;
  height: 180px;
  width: 180px;
}

#banner{/*min-height: 100vh;
  min-width: 100vw;
  color: #164E87;
  height: 220px;*/

  text-align: center;
  h1, img{
    text-align: center;
    margin-top: auto;
  }
  /*margin-bottom: 50px;
  padding-bottom: 10px;
  padding-top: 8px;*/

}

#follow{
  margin-bottom: 150px;
}

.bg{
  min-height: 100vh;
  min-width: 100vw;
  background: url(../../public/images/pineapple-supply-co-fmc6p7mF7qg-unsplash.jpg) no-repeat fixed;
  background-size: 100vw 100vh;
  padding-top: 80px;
}

.card{
  margin-left: 30%;
}

.index{
  margin-left: 0;
}
span{
  h5{
    float: left;
  }
}


