{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <body class="bg-light">
<div class="container bg">
<div class="example-wrapper">

    {% if app.user %}
        <div class="mb-3">
            connecté en tant que {{ app.user.prenom }}, <a href="{{ path('app_logout') }}">se déconnecter</a>
        </div>
    {% endif %}

    <div class="card border-info mb-3 text-center">
        <div class="card-header">
            <h1 class="h3 mb-3 font-weight-normal">Modifier le profil</h1>
        </div>

        <div class="card-body">
            {{ form_start(editForm) }}

            <h5>Nom actuel : <span class="text-primary font-weight-bold text-capitalize">{{ user.nom }}</span></h5>
            {{ form_widget(editForm.nom) }}
            <br><br>

            <h5>Prénom actuel : <span class="text-primary font-weight-bold text-capitalize">{{ user.prenom }}</span></h5>
            {{ form_widget(editForm.prenom) }}
            <br><br>

            <h5>Avatar actuel :</h5>
            <img class="img-fluid img-thumbnail" width="250px"  alt="" src="{{vich_uploader_asset(user,"avatarFile")}}">
            <br><br>
            Modifier l'avatar:{{ form_widget(editForm.avatarFile) }}
            <br>
            <button type="submit" class="btn btn-warning">Modifier</button>
            {{ form_end(editForm) }}

        </div>
    </div>





</div>
</div>
    </body>
{% endblock %}
