<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body class="bg-light">

            <a href="{{ path('index') }}">
                <img id="logo"
                     src="{{asset('/images/f6b1c30a-7840-4cf7-aaea-78a80835d0e4_200x200.png')}}"
                     alt="logo">
            </a>

        {% block body %}

        {% endblock %}

        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
