{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="container bg">
        <div class="row">
            <div id="banner" class="fixed-top col">

                <img class="img-fluid img-thumbnail rounded-circle " width="250px"  alt="" src="{{vich_uploader_asset(user,"avatarFile")}}" >
                <h1>Page perso de {{ user.prenom}}</h1>

            </div>
        </div>


        <div class="row " id="follow">
            <div class="col fixed-top">
                <h4 class="text-right">{{ count_followers }} Followers | {{ count_following }} Following</h4>
                <a class="text-right" href="{{path('follow', {id: user.id})}}"><button class="btn btn-outline-primary text-right">Suivre</button></a>
            </div>

        </div>

        <div class="row">
            <div class="col-md-10 offset-1">
                {% for amis in follower %}
                    <li>{{ amis.prenom }}</li>
                {% endfor %}


                {% for mess in msg %}
                    <div class="card border-info mb-3 index text-dark">
                        <div class="card-header">
                            <h5 class="h3 mb-3 font-weight-normal">
                                De <a href= "{{path('profil', {id:mess.user.id})}}" > {{ mess.user.prenom }} </a> <br>
                            </h5>
                        </div>

                        <div class="card-body">
                            {{ mess.contenu }}
                            <br>
                            <span><h5 class="text-warning font-weight-bold">#</h5></span>
                            {% for ha in mess.hashtags  %}
                                <a href= "{{path('hashtags', {id:ha.id})}}" > {{ ha.word }} </a>
                            {% endfor %}
                        </div>
                        <div class="card-footer bg-transparent border-info">
                            <div class="date text-primary"> {{ mess.date|date("Y-m-d H:i:s") }} </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>



</div>
</div>
{% endblock %}
